* {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: #f1f1f1;
}

canvas {
    pointer-events: none;
    width: 100%;
    height: 100%;
    z-index: 1;
    position: absolute;
}

#sidePanel {
    display: none;
    /*display: flex;*/
    flex-direction: column;
    position: absolute;
    height: 100vh;
    width: 300px;
    left: 0;
    top: 0;
    background-color: lightblue;
    border-right: 5px solid black;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    border-bottom-right-radius: 20px;
    border-top-right-radius: 20px;
}

#sidePanel > div {
    flex: 1;
}

#controlInfo {
    padding-bottom: 30px;
}

#infoPanel > div {
    padding-right: 30px;
}

#upgradeWindow, #buildingWindow, #incrementEngines, #infoPanel {
    display: flex;
    flex-direction: column;
    z-index: 0;

}

#upgradeWindow, #buildingWindow, #incrementEngines {
    padding: 0px 10px;
}

#upgradeWindow, #buildingWindow {
    border-bottom: 3px dashed black;
}

#upgradeWindow > *, #buildingWindow > *, #incrementEngines > * {
    margin: 10px;
    flex: 1;
}

#cursor {
    display: none;
}

#cookie {
    display: none;
    position: absolute;
    height: 50px;
    width: 75px;
}

#building5 {
    background-color: rgb(235, 90, 90);
}

button {
    padding: 0;
    margin: 0;
    height: 40px;
    border-radius: 10px;
    pointer-events: none;
}

#infoPanel {
    display: none;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 50%;
    width: 300px;
    border: 2px solid black;
    margin: 10px;
}

#helpButton {
    display: none;
    position: absolute;
    text-decoration: none;
    color: black;
    border: 3px solid black;
    padding: 12px;
    margin: 15px;
    bottom: 0;
    right: 0;
    border-radius: 10px;
}

#openingSequence {
    width: 60%;
    position: absolute;
    top: 0;
    font-size: 60px;
    font-family: 'Aboreto', cursive;
    text-align: center;
    padding: 0;
    margin: 0;
    transition: opacity 2s linear;
}

#openingTitle, #openingTutorial1, #openingTutorial2, #openingTutorial3 {
    opacity: 0;
    position: absolute;
    top: 20px;
    left: 0%;
    transition: visibility 0s, opacity 5s ease-in;
}

#openingTutorial1, #openingTutorial2, #openingTutorial3 {
    top: 60px;
}